
python-dotenv
google-generativeai
google-genai
langchain-classic
langchain-text-splitters
langchain
langchain-community
langchain-core
langchain-google-genai
chromadb
faiss-cpu
djangorestframework
django-filter
pypdf
django
django-cors-headers
gunicorn